<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Share_a_slide</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>NewFile.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Action/UploadAction</servlet-name>
    <servlet-class>Action/UploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/UploadAction</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/SignupAction</servlet-name>
    <servlet-class>Action/SignupAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/SignupAction</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/LoginAction</servlet-name>
    <servlet-class>Action/LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/LoginAction</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/ProfileAction</servlet-name>
    <servlet-class>Action/ProfileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/ProfileAction</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/MyPresentation</servlet-name>
    <servlet-class>Action/MyPresentation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/MyPresentation</servlet-name>
    <url-pattern>/mypresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/AdminSearchAction</servlet-name>
    <servlet-class>Action/AdminSearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/AdminSearchAction</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/AdminApproveAction</servlet-name>
    <servlet-class>Action/AdminApproveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/AdminApproveAction</servlet-name>
    <url-pattern>/deleteppt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/HomeAction</servlet-name>
    <servlet-class>Action/HomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/HomeAction</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/ViewAftLoginAction</servlet-name>
    <servlet-class>Action/ViewAftLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/ViewAftLoginAction</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Action/DownloadSuccessAction</servlet-name>
    <servlet-class>Action/DownloadSuccessAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/DownloadSuccessAction</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>
</web-app>